.client-title {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
  
  .client-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
  }
  
  .client-link {
    width: 170px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        border: 1px solid $hover-text-color;
      }
    &:focus .link {
    fill: $hover-text-color;
      }
    }
  

  .client-item .link {
    fill: #afb1b8;
  }
  
  
  .client-item:hover .link,
  .client-item:focus .link {
    fill: $hover-text-color;
  }