.footer a {
  margin-left: 15px;
}
.footer-adress {
  margin-right: 70px;
}
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  & .flex {
    display: flex;
    align-items: baseline;
  }
}

.logo-footer {
  display: inline-block;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: $hover-text-color;
  span {
    color: $secondary-color;
  }
}

.map {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  color: $secondary-color;
}

.footer .link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $hover-text-color;
  }
}

.adress {
  font-style: normal;
}

.network {
  margin-right: 93px;
}

.network-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $secondary-color;
}

.footer-network {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.footer-network .footer-network-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  fill: $secondary-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus .link {
    fill: $secondary-color;
  }
  &:focus {
    background-color: $hover-text-color;
    border-radius: 50%;
  }
}

.footer-network .item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin: 0;
  &:hover,
  &:focus {
    background-color: $hover-text-color;
  }
}

.mailing-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-color;
  margin-bottom: 20px;
}

.mailing-list {
  display: flex;
  gap: 12px;
}

.mailing-input {
  width: 358px;
  height: 50px;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.btn-mailing {
  width: 200px;
  height: 50px;
  background-color: $hover-text-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    fill: $secondary-color;
    margin-left: 10px;
  }
}
