.social-network {
    display: flex;
    justify-content: center;
    gap: 10px;
    & .link {
        fill: #afb1b8;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
  }
  
  .social-network-item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $hover-text-color;
    }
    
  }
  
  .social-network-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover  .link,
    &:focus  .link {
      fill: $secondary-color;
    }
    &:focus {
        background-color: $hover-text-color;
      }
  }

  .command {
    background: #f5f4fa;
  }
  
  .command-list {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: #f5f4fa;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
  }
  .command-item {
    width: 270px;
    margin-left: 30px;
    background-color: $secondary-color;
    &:first-child {
        margin-left: 0px;
      }
  }
  
  .command-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
  
  .command-border {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
  .job {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-top: 10px;
    margin-bottom: 16px;
    color: $title-text-color;
  }